<h2>THIS IS A FORM</h2>
<form action="<%= post_comments_url %>" method="post">
  <%= auth_token %>
  <label for="butrubz">Rub here!</label>
    <textarea id="butrubz" name="comment[content]">
  </textarea>

  <button>Markz it</button>

</form>
