<% @user.posts.each do |post| %>
  <%= render 'shared/post', post: post %><br>
<% end %>

<% if current_user == @user %>
  <a href="<%= edit_user_url %>" class="button">edit profile</a><br>
  <form action="<%= user_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="DELETE">
    <button class="danger">SPLODEY SPLODE(NOOOOOOoooooo)</button>
  </form>
<% end %>
