<label for="collar">Collar: </label>&nbsp;
<input type="text" name="user[collar]" value=""><br><br>

<label for="password">Password: </label>&nbsp;
<input type="password" name="user[password]" value=""><br><br>
