<% @subs.each do |subz| %>
  <a href="<%= sub_url(subz) %>"><%= subz.title %></a><br>
  <%= subz.posts.count %> scratching posts<br>
<% end %>

<br>
<a href="<%= new_sub_url %>">mew Hunt 4 Catnipz!</a>
