<%= render "shared/post", post: @post %>

<%= @post.content %>

<a href="<%= new_post_comment_url(post_id: @post.id) %>">rub butz on interwbez!</a>

<% @post.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %><br>
<% end %>
