/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   background: #0FF;
   font-family: "Comic Sans MS";
 }

 a{
   color: #318;
 }

 button{
   font: 11px "Papyrus";
   font-weight: bold;
   text-decoration: none;
   background-color: #FF0;
   color: #000;
   padding: 2px 6px 2px 6px;
   border-top: 2px solid #CCCCCC;
   border-right: 2px solid #333333;
   border-bottom: 2px solid #333333;
   border-left: 2px solid #CCCCCC;
   margin: 3px;
 }

 input{
   background-color: #FFF;
   color: #000;
 }

 .button {
  font: 11px Arial;
  text-decoration: none;
  background-color: #FF0;
  color: #000;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
  margin: 3px;
}

.danger {
  background-color: #D00;
  color: #FFF;
}

button:active{
  background-color: #F00;
}

.comment{
  font-family: "Futura";
  display: block;
  border-radius: 0px;
  border: 5px dashed #F00;
  margin-top: 1px;
  margin-bottom: 5px;
  background-color: #6FF;

}

.author{
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

p{
  margin-left: 1px;
}
